
.certificate-dropdown[b-p42n7y57vv] {
    max-width: 500px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.certificate-dropdown option[b-p42n7y57vv] {
    max-width: 480px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
h1[b-p42n7y57vv] {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #831acc;
}