@page "/"


<EditForm Model="@loginDto" OnValidSubmit="clicklogin">
    <DataAnnotationsValidator></DataAnnotationsValidator>
    <ValidationSummary></ValidationSummary>
    <label for="email">Email</label>
    <InputText type="email" id="email" @bind-Value="loginDto.email"></InputText>
    <label for="password">Password</label>
    <InputText id="password" @bind-Value="loginDto.password" type="password"></InputText>
    <button type="submit">Login</button>
    
</EditForm>
@if (output != null)
{
    <div class="alert alert-success mt-3">@output.email</div>
}
)
